html {
   
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #353434;
    font-size: 1.1rem;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #353434;
    font-size:.9rem;

}
::selection
{
  background: rgba(255, 127, 0, 0.996);
  color: white;
}

::-moz-selection
{
  background: #F80;
  color: white;
}
h1 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 20px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 10%!important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left!important;
    top: 20%;
    width: 30%;
}
.carousel-caption h3 {
    font-size: 5rem!important;
    font-weight: 800;
    margin-bottom: 20px;
}
.btn-yellow{
    background: #ffa518!important;
    border:0px solid #ffa518;
}

.btn-pink{
    background: #f54987!important;
}
.btn-pink:hover{
    background: #e44c41!important;
}
.btn-pink-border{
    background: transparent!important;
    border:2px solid #f54987!important;
    color: #f54987!important;
}
.btn-pink-border:hover{
    background: #f54987!important;
    border:2px solid #f54987!important;
    color: #fff!important;
}
.btn-red-border{
    background: transparent!important;
    border:2px solid #e44c41!important;
    color: #e44c41!important;
}
.btn-red-border:hover{
    background: #e44c41!important;
    border:2px solid #e44c41!important;
    color: #fff!important;
}
.btn-white{
    background: #fff!important;
    color: #363636!important;
}
.btn-white:hover{
    background: #3c3c3c!important;
    color: #fff!important;
}
.btn{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif!important;
        font-size: 1.2em;
    height: 3.25em;
    line-height: 3.25em;
    padding: 0 2.5em;
    border-radius: 2.5em;
        border: 0px;
        cursor: pointer;
}
.btn-yellow:hover{
    background: #e44c41!important;
    border:0px solid #ffa518;
}
section{
    padding: 60px 0px;
}
section h1{
    font-size: 48px;
    font-weight: 600;
    color: #3c3c3c;
}
#about{
    background: #f0f0f0;
    text-align: center;
}
#about p{
    font-size: 18px;
}
/*----carousel styles----*/
#services .carousel-inner .carousel-item-right.active,
#services .carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

#services .carousel-inner .carousel-item-left.active, 
#services .carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
#services .carousel-inner .carousel-item-right,
#services .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

/*---services hexagon styles---*/

.hexagon{
    position: absolute;
    text-align: center;
    color: #fff;
    margin-top: 30px;
}
.hexagon img{
    width: inherit!important;
    height: auto;
    margin: 0 auto;
}
.hexagon h1{
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px!important;
}
.hexagon span{
   display: block;
   margin-bottom: 10px;
}
.owl-nav{
    display: none;
}
.owl-dots{
    margin-top: 30px;
}

/*---Expert styles---*/
#expert{
    background: #2d313c;
    color: #fff;
    position: relative;
}
#expert h1{
    color: #fff;
    margin-bottom: 50px;
}
.hand_tablet{
   position: absolute;
   right: 0;
   bottom: 0;
}
#expert p{
    margin-bottom: 50px;
}

/*----our clients----*/
section#clients{
        padding: 30px 0px;
}
.our_clients {
    list-style: none;
    display: -webkit-flex;
    /* Safari */
    
    -webkit-align-items: center;
    /* Safari 7.0+ */
    
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin: 25px 0 0 0;
    padding: 0px;
}
.our_clients li {
    background-color: white;
    text-align: center;
    flex-grow: 1;
}
.our_clients li img {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    
    filter: none;
    /* IE5+ */
    
    -webkit-filter: grayscale(0);
    /* Webkit Nightlies & Chrome Canary */
    
    -webkit-transition: all .2s ease-in-out;
}
.our_clients li img:hover {
    filter: gray;
    -webkit-filter: grayscale(1);
}

/*---Testimonials Styles--*/
.scrollList h1{
    font-size: 48px!important;
    font-weight: 600!important;
    color: #fff!important;
    text-align: center;
    padding-bottom: 20px;
}
.scrollList h1:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 1px;
  border-bottom: 3px solid #fff;
  bottom: -2px;
  left:50%;
}
.scrollList{
    width: 100%!important;
    color: #fff;
    font-family:inherit!important;
    font-size:inherit!important;
}
.scrollList .media-left img {
    border-radius: 100%;
    border: 6px solid #fff;
}
#three .scrollable {
  background: url(../images/walk.jpg) no-repeat 50% 100%;
  width: 100%;
  height: 820px;
}

/* Specific sizes for our example - you ned to set these for yours */

.parascroll { min-height:400px; 
}

.paraContent { padding:50px 0px; }
.paraContent .media {
    text-align: left;
    margin-top: 50px;
    padding: 0px 50px;
}
.paraContent .media-left{
   text-align: center;
}
.paraContent .media-left img{
   width: 60%;
}
.paraContent .media-left h4{
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}
.paraContent .media-left h5{
    font-size: 15px;
    color: #b6b6b6;
    text-align: center;
}
.bq3 { background: url('../images/quote.png') top left no-repeat;
padding-left: 55px;
line-height: 18px;
color: #e44c41;
}
.bq3 p {
    padding-right: 35px;
    line-height: 26px;
    background: url('../images/quote_right.png') bottom right no-repeat;
    padding-bottom: 15px;
    color: #fff;
    font-size: 15px!important;
    font-weight: 400!important;
}

/*----Blog Section----*/

#blog {
    text-align: center;
    background: #e2e2e2;
}
#blog h1{
    margin-bottom: 10px;
}
#blog h3{
    font-size: 18px;
}
.shadow_box {
    box-shadow: 0px 0px 20px #c8c8c8;
    -webkit-box-shadow: 0px 0px 20px #c8c8c8;
    -moz-box-shadow: 0px 0px 20px #c8c8c8;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    margin: 20px 0px;
    background: #fff;
}
.shadow_box p{
    padding: 20px;
    font-size: 20px;
    text-align: left;
    line-height: 18px;
}
.shadow_box span{
    font-size: 12px;
    color: #818181;
    display: block;
    margin-top: 10px;
}
.shadow_box img {
    width: 100%;
}
.blog_inner{
    margin: 30px 0px;
}
.blog_navs button{
    margin: 0px 10px;
}
/*----White_paper----*/
#white_paper{
    text-align: center;
    background: #f8bc3a;
}
#white_paper h1{
    margin-bottom: 10px;
}
#white_paper h3{
    font-size: 18px;
}
#white_paper .media-left img{
    border-radius:100%;
    border:10px solid #fff;
}
.media{
    text-align: left;
}
.media-body{
    margin-left: 20px;
}
.white_paper_inner{
    margin:50px 0px;
}
/*----Footer Styles---*/
section #footer{
    margin-bottom: 0px!important;
    padding: 0px 0px!important;
}
#footer{
    background: #161616;
    color: #848484;
    font-size: 13px;
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
    padding-top: 20px;
}
#footer h6{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    
}
#footer ul{
   margin: 0;
   padding: 0;
    
}
#footer p{
   margin: 0;
   padding: 0;
    
}
#footer ul li{
    list-style: none;
    line-height: 20px;
    
}
#footer ul li a{
    color:#848484;
    
}
#footer ul li a:hover{
    color: #fff;
    text-decoration: none;
    
}
.details{
    margin-top: 20px!important;
}
.details p{
    margin-bottom: 5px!important;
}
.details i{
    margin-right: 5px;
}
h1{
  position: relative;
  color: #F56B20;
}
#footer h6:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 1px;
  border-bottom: 2px solid #e44c41;
  bottom: -2px;
  left:0;
}

#footer h6{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 25px;
    
}

.transition-timer-carousel-progress-bar {
    height: 3px;
    background-color: #5cb85c;
    width: 0%;
    margin: 0px 0px 0px 0px;
    border: none;
    z-index: 11;
    position: relative;
}
.pop_right{
    position: fixed;
    right: 0;
    z-index: 9999;
}
.copy{
    height: 55px;
    line-height: 55px;
    background: #0d0d0d;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}
.copy ul{
    list-style-type: disc!important;
    margin: inherit!important;
    padding: inherit!important;
}
.copy ul li{
    display: inline-block;
    list-style-type: disc!important;
    font-size: 10px;
}
span.bull{
    display: inline-block;
    margin-top: 10px;
    margin: 0px 20px;
    font-size: 14px!important;
}


/*----Mega Menu Styles----*/
.mega-dropdown {
  position: static !important;
}
.dropdown_inner{
    min-height: 400px;
    padding: 30px 30px 0px;
    font-size: 14px;

}
.dropdown_inner i{
    margin-right: 10px;
}
.dropdown_inner a{
    color: #565656;
    transition: all 0.5s ease;
}
.dropdown_inner a:hover{
    color: #cd370e;
    text-decoration: none;
}
.dropdown_inner h6{
    font-weight:400;
    font-size: 15px;
}

.mega-dropdown-menu{
    background:#fff url("../images/mega_bg.jpg") no-repeat right top;
    min-height: 0px;
    
}
.dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    /*border-bottom: 4px solid #ffa518!important;
    border-right: 0px solid #ffa518!important;
    border-left: 0px solid #ffa518!important;
    border-top: 0px solid #ffa518!important;*/

}
.dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu > li > ul > li {
  list-style: none;
}
.dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
}
.dropdown-menu > li ul > li > a:hover,
.dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
}
.dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.mega-dropdown .carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.mega-dropdown .left.carousel-control {
  right: 30px;
  left: inherit;
}
.mega-dropdown .carousel-control .glyphicon-chevron-left, 
.mega-dropdown .carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}
.dropdown, .dropup {
    position: inherit!important;
}
.navbar{
    padding: 0!important;
}
.navbar-light .navbar-brand, .navbar-light .navbar-toggler {
    color: #e44c41;
}
.nav-link {
    padding: 20px 1em!important;
}
.nav-link:hover, .active>.nav-link {
    color: #e44c41!important;
}
.dropdown-menu{
    border-radius:0px!important;
    margin-top: 0px;
}
.navbar-brand{
    padding:0px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 3px;
}

/*----Technology Styles----*/
ul.technology{
    margin:30px 0 0 0;
    padding: 0;
}
.technology li{
    display: inline-block;
    margin-right: 30px;
}
.top30{
    margin-top: 30px;
}
/*----Social Media----*/
.component {
  text-align: center;
    margin-bottom: 30px;
}

.component__title {
  margin-bottom: 12px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}
.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
}
.icon-mono {
  background: url("../images/social_media.png");
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

/* facebook */
.icon-mono.facebook {
  background-position: -50px -50px;
}

.icon-mono.facebook:hover {
  background-position: -50px -60px;
}

/* twitter */
.icon-mono.twitter {
  background-position: 0px -50px;
}

.icon-mono.twitter:hover {
  background-position: 0px -60px;
}

/* google plus */
.icon-mono.googleplus {
  background-position: -150px -50px;
}

.icon-mono.googleplus:hover {
  background-position: -150px -60px;
}

/* instagram */
.icon-mono.instagram {
  background-position: -200px -50px;
}

.icon-mono.instagram:hover {
  background-position: -200px -60px;
}

/* linkedin */
.icon-mono.linkedin {
  background-position: -100px -50px;
}

.icon-mono.linkedin:hover {
  background-position: -100px -60px;
}
/*slide*/

#slider {
    list-style:none;
    padding:0px;
    margin-top: 10px;
}

.slider-container { 
    width:200px; 
    height:150px; 
    padding:20px; 
}

#slider img { 
    width:auto; 
    height:auto; 
    margin:0px; 
    display:inline-block;  
}

#slider li {
    width:160px;
}
.bx-window{
    width: 100% !important;
}
.bx-wrapper{
    width: 100% !important;
}

/*----Social ----*/
.social {
  top:30%;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  right: 0;

}
.social ul {
  padding: 0px;
  -webkit-transform: translate(255px, 0);
  -moz-transform: translate(255px, 0);
  -ms-transform: translate(255px, 0);
  -o-transform: translate(255px, 0);
  transform: translate(255px, 0);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(45, 49, 60, 0.6);
  width: 300px;
  text-align:left;
  padding: 10px;
  -webkit-border-radius:30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.social ul li:hover {
  -webkit-transform: translate(-90px, 0);
  -moz-transform: translate(-90px, 0);
  -ms-transform: translate(-90px, 0);
  -o-transform: translate(-90px, 0);
  transform: translate(-90px, 0);
  background: rgba(255, 255, 255, 0.9);
}
.social ul li.mail:hover {
  -webkit-transform: translate(-210px, 0);
  -moz-transform: translate(-210px, 0);
  -ms-transform: translate(-210px, 0);
  -o-transform: translate(-210px, 0);
  transform: translate(-210px, 0);
  background: rgba(255, 255, 255, 0.9);
}
.social ul li.phone:hover {
  -webkit-transform: translate(-140px, 0);
  -moz-transform: translate(-140px, 0);
  -ms-transform: translate(-140px, 0);
  -o-transform: translate(-140px, 0);
  transform: translate(-140px, 0);
  background: rgba(255, 255, 255, 0.9);
}
.social ul li:hover a {
  color: #000;
  text-decoration: none;
}
.social ul li img{
    margin-right: 10px;
    margin-left: 8px;
    }
.social ul li:hover i {
  color: #fff;
  background: red;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-right: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* ---------- LIVE-CHAT ---------- */

#live-chat {
    bottom: 0;
    font-size: 12px;
    right: 24px;
    position: fixed;
    width: 300px;
    z-index: 9999;
}

#live-chat header {
    background: #efefef;
    border-radius: 5px 5px 0 0;
    color: #000;
    cursor: pointer;
    padding: 10px 24px;
}
#live-chat header h4 i{
    color: #ffa500;
    font-size: 22px;
}

/*#live-chat h4:before {
    background: #1a8a34;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 8px;
    margin: 0 8px 0 0;
    width: 8px;
}*/

#live-chat h4 {
    font-size: 18px;
    margin:0;
    padding: 0;
}
#live-chat h4 i {
    margin-right: 10px;
}

#live-chat h5 {
    font-size: 10px;
}

#live-chat form {
    padding: 24px;
}

#live-chat input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    outline: none;
    width: 234px;
}

.chat-message-counter {
    background: #e62727;
    border: 1px solid #fff;
    border-radius: 50%;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    left: 0;
    line-height: 28px;
    margin: -15px 0 0 -15px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 28px;
}

.chat-close {
    background: #1b2126;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: right;
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    margin: 2px 0 0 0;
    text-align: center;
    width: 16px;
}

.chat {
    background: #fff;
    display:none;
}

.chat-history {
    height: 252px;
    padding: 8px 24px;
    overflow-y: scroll;
}

.chat-message {
    margin: 16px 0;
}

.chat-message img {
    border-radius: 50%;
    float: left;
}

.chat-message-content {
    margin-left: 56px;
}

.chat-time {
    float: right;
    font-size: 10px;
}

.chat-feedback {
    font-style: italic; 
    margin: 0 0 0 80px;
}

.header.tiny {
    height:40px;
    background: #aaa;
}
.nav-item .nav-link, .dropdown .nav-link{
    transition: all 0.5s ease;
}
.tiny .nav-link {
    padding: 10px 1em!important;
}
.tiny .navbar-brand img{
     width: 80%;
    } 
.tiny .navbar-brand {
    padding: 0;
}     
 a.navbar-brand img{
    width: 100%;
    transition: all 0.5s ease; 
    } 
@media  only screen and (max-width: 767px){
.navbar-toggleable-md>.container{
    padding-right: 180px;
    padding-left: 0px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.d-none{
  display: block!important;
}
.carousel-caption h3{
  font-size: 2rem!important;
    font-weight: 600;
}
.carousel-caption{
  width:initial;
}
.hexagon{
  padding:40px;
}
.blog_navs button{
  padding:0px 15px;
  width: 320px;
}
.media-body{
  margin-top: 240px;
  margin-left: -290px;
}
#white_paper .media-left img{
  margin:0 40px;
}
#footer h6{
  margin-top: 25px;
}
#white_paper h1 {
    margin-bottom: 20px;
    font-size: 40px;
}
/*.paraContent .media-left img{
  margin:0 69px;
}
.paraContent .media-left h4{
  margin-left: 65px;
}
.paraContent .media-left h5{
  margin-left: 40px;
}*/
.bq3{
  text-align:center!important;
  padding-right:0px!important;
}
.tbletimg{
  padding-bottom:175px;
}
.hand_tablet {
    position: absolute;
    right: 12px;
    bottom: 0;
}
#expert img{
width:100%;
}
.btn{
  padding:0 0px!important;
  width: 280px!important;
  font-size: 14px!important;
  font-weight: 600!important;
  margin:0px 2px!important;
}
}